* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.dark-mode a {
    color: white;
}

ul {
    list-style-type: none;
}

body {
    background-color: #fff;
    color: #000;
    padding: 0;
    margin: 0;
}

body.dark-mode {
    background-color: #0d0620;
    color: white
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    height: 150px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
    background-image: url(../img/background-header-lightmode.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover
}

header.dark-mode {
    background-image: url(../img/background-header.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: 55%;
    border-bottom: white;
    border-style: solid;
}

.border {
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;
}

.border.dark-mode {
    border-color: white;
}

.invisible-border {
    border: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
}

.header-section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.header-section-logo.dark-mode {
    background: black;
    border: 1px;
    border-radius: 100%;
    border-color: transparent;
    border-style: solid;
}

.header-img-logo {
    display: flex;
    width: 130px;
    height: 130px;
    padding: 10px;
}

.header-section-form {
    display: flex;
    width: 500px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

#search-form {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}

#search-input {
    width: 500px;
    height: 40px;
    margin-right: 10px;
    color: black;
    background-color: white;
    padding: 10px;
}

#search-input::placeholder {
    color: rgb(53, 51, 51);
}

#search-input:focus {
    outline: none;
}

#search-input.dark-mode {
    background-color: black;
    color: white;
}

#search-input.dark-mode::placeholder {
    color: rgb(223, 219, 219);
}

#search-button {
    height: 40px;
    width: 45px;
    cursor: pointer;
    background-color: white;
}

#search-button.dark-mode {
    background-color: black;
    color: white;
}

.header-nav-ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.header-nav-link {
    display: flex;
    align-items: center;
    margin: 20px;
    color: rgb(0, 0, 0);
}

.header-section-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 500px;
}

.header-section-mode {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#mode-toggle {
    background-image: url('../img/moon-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: white;
}

#mode-toggle.dark-mode {
    background-image: url(../img/bright-icon.png);
    background-position: center;
}

.main-title {
    display: flex;
    justify-content: center;
    color: rgb(188, 64, 188);
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   /* overflow-x: scroll; */
    width: 90vw;
    margin-bottom: 40px;
}

.main-sections-h1 {
    display: flex;
    width: 500px;
    font-size: 40px;
    justify-content: center;
}

.main-sections-content {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 1px;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    max-width: 130px;
    background-image: url(../img/vivid-blurred-colorful-wallpaper-background.jpg);
    background-position:left;
    padding: 5px;
}

.dark-mode .main-sections-content {
    border-color: #0d0620;
    background-image: url(../img/3463945_63136.jpg);
    background-size: cover;
}

.main-sections-content h1 {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.main-sections-content p {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-sections-content img {
    display: flex;
    justify-content: center;
}

.main-sections-content a {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-mode .main-sections-content a {
    color: white;
}

.detail-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px;
}

.detail-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/vivid-blurred-colorful-wallpaper-background.jpg);
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
}

body.dark-mode .detail-article {
    background-image: url(../img/3463945_63136.jpg);
    background-size: cover;
}

.detail-article h2 {
    font-weight: bolder;
}

.song-detail-article img {
    width: 90%;
}

.song-artist {
    margin-top: 20px;
}

.artist-album {
    margin-left: 20px;
}

.artist-name {
    font-size: 30px;
}

.song-name {
    font-size: 30px;
}

.album-name {
    font-size: 30px;
}

.album-songs-h1 {
    margin-left: 20px;
    font-size: 30px;
}

.album-songs-ol {
    font-size: 15px;
    margin-left: 10px;
    max-height: 300px;
    overflow: scroll;
}

.album-songs-ol li {
    max-width: 100px;
}

.detail-artist-album-li {
    margin: 10px;
}

#main-genres {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#genres-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

#genres-list h2{
    display: flex;
    justify-content: center;
}

.genre-h2-name {
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    white-space: wrap;
}

#genres-list li {
    margin: 15px;
}

#genres-list a {
    color:black;
}

.dark-mode #genres-list a {
    color:white;
}

#main-genres-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#genre-artists {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#genre-artists a {
    color:black;
}

.dark-mode #genre-artists a {
    color:white;
}

#genre-artists h1{
    display: flex;
    justify-content: center;
}

#genre-artists li {
    margin: 15px;
}

#genre-artists p {
    display: flex;
    justify-content: center;
}

#search-results {
    margin: 15px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.loader.hidden {
    display: none;
}

#preview-song{
    max-width: 170px;
    max-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#playlist-songs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.playlist-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 10px;
    background-image: url(../img/vivid-blurred-colorful-wallpaper-background.jpg);
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

body.dark-mode .playlist-content {
    background-image: url(../img/3463945_63136.jpg);
    background-size: cover;
    border-color: #0d0620;
}

#playlist-section h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#playlist-section h2 {
    display: flex;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    height: 70px;
    border-top: 2px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
    background-image: url(../img/background-header-lightmode.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

footer.dark-mode {
    background-image: url(../img/background-header.jpeg);
    background-size: 55%;
    border-bottom: white;
    border-top: white;
    border-style: solid;
}

.ul-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-right: 30px;
}

.ul-footer.dark-mode {
    color: white;
}

.li-footer {
    font-size: 20px;
}

#btn-playlist {
    border: 0;
    background: #12c2e9; 
    background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);  
    background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9); 
    border-radius: 8px;
    color: black;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
}

body.dark-mode #btn-playlist {
    color:white;
}

.btn-playlist-span{
    background-color: white;
    padding: 16px 24px;
    border-radius: 6px;
}

 body.dark-mode .btn-playlist-span {
    background-color: black;
 }

.btn-playlist-span:hover{
    background: #12c2e9; 
background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);  
background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);   
}

@media (max-width: 450px) {
    body {
        max-width: 450px;
    }

    header {
        max-height: 90px;
        max-width: 450px;
    }

    .header-section-logo {
        max-width: 80px;
    }

    .header-img-logo {
        max-width: 80px;
        max-height: 70px;
        margin: 5px;
        padding: 5px;
    }

    .header-section-form {
        max-width: 180px;
        margin-left: 25px;
        margin-right: 0px;
        border: none;
    }

    .header-section-form.dark-mode {
        border: none;
    }

    #search-form {
        max-width: 150px;
        width: 180px;
    }

    #search-input {
        max-width: 150px;
    }

    #search-button {
        height: 30px;
    }

    .header-section-nav {
        max-width: 80px;
        border: none;
    }

    .header-section-nav.dark-mode {
        border: none;
    }

    .header-nav-ul {
        max-width: 80px;
        font-size: 15px;
        flex-direction: column;
        margin-right: 30px;
    }

    .header-nav-link {
        margin: 2px;
    }

    .header-section-mode {
        max-width: 80px;
        flex-direction: column;
    }

    #mode-toggle {
        width: 50px;
        border: none;
    }

    footer {
        max-height: 40px;
        width: 450px;
        max-width: 450px;
    }

    .ul-footer {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .li-footer {
        font-size: 10px;
    }
}