* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a.dark-mode {
    color: white;
}

ul {
    list-style-type: none;
}

body {
    background-color: #fff;
    color: #000;
    padding: 0;
    margin: 0;
}

body.dark-mode {
    background-color: #0d0620;
    color: white
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    height: 150px;
    border-bottom: 5px;
    border-color: black;
    border-style: solid;
    background-image: url(../img/background-header-lightmode.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover
}

header.dark-mode {
    background-image: url(../img/background-header.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: 55%;
}

.border {
    border: 3px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;
}

.border.dark-mode {
    border: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
}

.header-section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.header-section-logo.dark-mode {
    background: black;
    border: 1px;
    border-radius: 100px;
    border-color: transparent;
    border-style: solid;
}

.header-img-logo {
    display: flex;
    width: 150px;
    height: 130px;
    margin: 10px;
    padding: 10px;
}

.header-section-form {
    display: flex;
    width: 500px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#search-form {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
}

#search-input {
    width: 400px;
    height: 30px;
    margin-right: 5px;
    color: black;
    background-color: white;
}

#search-input::placeholder {
    color: rgb(53, 51, 51);
}

#search-input:focus {
    outline: none;
}

#search-input.dark-mode {
    background-color: black;
    color: white;
}

#search-input.dark-mode::placeholder {
    color: rgb(223, 219, 219);
}

#search-button {
    height: 30px;
    cursor: pointer;
    background-color: white;
}

#search-button.dark-mode {
    background-color: black;
    color: white;
}

.header-nav-ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 30px;
}

.header-nav-link {
    display: flex;
    align-items: center;
    margin: 25px;
    color: rgb(0, 0, 0);
}

.header-nav-link.dark-mode {
    color: white;
}

.header-section-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 500px;
}

.header-section-mode {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}

#mode-toggle {
    background-image: url('../img/moon-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: white;
}

#mode-toggle.dark-mode {
    background-image: url(../img/bright-icon.png);
    background-position: center;
    background-color: white;
}

.main-title {
    display: flex;
    justify-content: center;
    color: rgb(188, 64, 188);
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-sections {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.main-sections-h1 {
    display: flex;
    width: 300px;
    font-size: 30px;
    justify-content: center;
}

.main-sections-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    height: 400px
}

.main-sections-content a {
    color: black;
}

.dark-mode .main-sections-content a {
    color: white;
}

.detail-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.song-name {
    font-size: 50px;
}

.song-artist {
    font-size: 30px;
}

#main-genres {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#genres-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#genres-list h1 {
    display: flex;
    justify-content: center;
}

#genres-list li {
    margin: 15px;
}

#genres-list a {
    color:black;
}

.dark-mode #genres-list a {
    color:white;
}

#main-genres-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#genre-artists {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#genre-artists a {
    color:black;
}

.dark-mode #genre-artists a {
    color:white;
}

#genre-artists h1{
    display: flex;
    justify-content: center;
}

#genre-artists li {
    margin: 15px;
}

#genre-artists p {
    display: flex;
    justify-content: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.loader.hidden {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    height: 70px;
    border-top: 5px;
    border-bottom: 5px;
    border-color: black;
    border-style: solid;
    background-image: url(../img/background-header-lightmode.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

footer.dark-mode {
    background-image: url(../img/background-header.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: 55%;
}

.ul-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-right: 30px;
}

.ul-footer.dark-mode {
    color: white;
}

.li-footer {
    font-size: 20px;
}

@media (max-width: 450px) {
    body {
        max-width: 450px;
    }

    header {
        max-height: 90px;
        max-width: 450px;
    }

    .header-section-logo {
        max-width: 80px;
    }

    .header-img-logo {
        max-width: 80px;
        max-height: 70px;
        margin: 5px;
        padding: 5px;
    }

    .header-section-form {
        max-width: 180px;
        margin-left: 25px;
        margin-right: 0px;
        border: none;
    }

    .header-section-form.dark-mode {
        border: none;
    }

    #search-form {
        max-width: 150px;
        width: 180px;
    }

    #search-input {
        max-width: 150px;
    }

    #search-button {
        height: 30px;
    }

    .header-section-nav {
        max-width: 80px;
        border: none;
    }

    .header-section-nav.dark-mode {
        border: none;
    }

    .header-nav-ul {
        max-width: 80px;
        font-size: 15px;
        flex-direction: column;
        margin-right: 30px;
    }

    .header-nav-link {
        margin: 2px;
    }

    .header-section-mode {
        max-width: 80px;
        flex-direction: column;
    }

    #mode-toggle {
        width: 50px;
        border: none;
    }

    footer {
        max-height: 40px;
        width: 450px;
        max-width: 450px;
    }

    .ul-footer {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .li-footer {
        font-size: 10px;
    }
}