h1{
    background-color: red;
}

footer{
    padding-left: 0px;
}

.ul-footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
}

.li-footer{
    font-size: 30px;
}



